#wrapper
  %header
    .nav
      %ul.topnav
        %li= link_to language, stories_path(language: language)

  #main
    %h1.page-title Today's Stories
    .row
      .col-10
        - @full_stories.each_slice(2) do |stories|
          .row.full-stories
            - stories.each do |story|
              .col-6.col-m-6
                %p.headline
                  = link_to(toggleable_text(story.headline), story.url)
                %p.byline
                  = story.byline
                %p.last-published
                  = story.publish_date
                .row.story-info
                  .col-5
                    = image_tag(story.image_url)
                  .col-7
                    %p.summary
                      = toggleable_text(story.summary)
      .col-2
        - @other_stories.each do |story|
          .row.stories-without-images
            %ul
              %li.headline= link_to(toggleable_text(story.headline), story.url)
              %li.byline= story.byline
              %li.last-published= story.publish_date
              %li.side-summary= toggleable_text(story.summary)
  .row
    .col-12
      = link_to 'Older stories', '#', remote: true, id: 'olderStories', class: 'older-stories'

